@import "../variables";

/* MAIN: INDEX */
/* banner */
#sectionUno {
    width: 100vw;
    height: 520px;
    background-image: url(../../images/Banner-3.jpg);
    background-size: cover;
    text-align: center;
    .section-titulo {
        font-size: 2.5rem;
        color: map-get($colores, "acento");
        text-shadow: 0px 4px 7px rgba(26, 26, 26, 1);
        font-weight: bold;
    }
    .sectionUno-subtituloBanner {
        font-size: 5rem;
        color: map-get($colores, "acento");
        text-shadow: 0px 10px 13px rgba(26, 26, 26, 0.9);
        font-weight: bold;
    }
}

/* media queries: main index */
@media screen and (max-width: 991px) {
    /* banner */
    #sectionUno {
        height: 420px;
        .section-titulo {
            font-size: 1.8rem;
        }
        .sectionUno-subtituloBanner {
            font-size: 4rem;
        }
    }
}

@media screen and (max-width: 768px) {
    /* banner */
    #sectionUno {
        height: 360px;
        .section-titulo {
            font-size: 1.5rem;
        }
        .sectionUno-subtituloBanner {
            font-size: 2.9rem;
        }
    }
}

@media screen and (max-width: 576px) and (min-width: 320px) {
     /* banner */
    #sectionUno {
        height: 260px;
        .section-titulo {
            font-size: 1rem;
        }
        .sectionUno-subtituloBanner {
            font-size: 1.5rem;
        }
    }
}